.AppBg {
  background: #eff0f3;
  /* For White Background */

  box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
  padding-left: 20px;
  padding-right: 20px;
}

.logoBox {
  font-family: "Plus Jakarta Sans", sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
}

.logo {
  font-family: "Plus Jakarta Sans", sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #001858;
  text-decoration: none;
}
.logo2 {
  font-family: "Plus Jakarta Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #6246ea;
}

.headerButtons {
  font-family: "Plus Jakarta Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  /* Black */

  color: #2b2c34;
}
